body{
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-y:hidden;
}

h1 {
	padding: 6px;
	margin-bottom: 10px;
	margin-top: 0px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background: rgb(109, 154, 168);
	font-size: xxx-large;
}

.text {
	padding: 4px;
	margin: 8px;
	font-size: 1.3vw;
	border: 1px solid black;
}

h2 {
	display: inline;
}

p {
	display: inline;
	color: red;
	font-size: 1.3vw;
}

#main-feed {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}

#sign-imgs{
	height: 60vh;
	width: 40vw;
	border: 2px solid black;
	margin: 5px;
}

#sign-imgs:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#feed{
	height: 60vh;
	width: 40vw;
	border: 2px solid black;
}

#feed:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.text-container{
	margin-top: 20px;
	margin-left: 4px;
	margin-right: 4px;
	height: 30vh;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
	.text{
	  font-size: 15px;
	}
}

@media screen and (max-width: 600px) {
	h1{
	  font-size: xx-large;
	}
}

@media only screen and (max-width:960px){
    body{
        overflow-y:scroll;
    }
}