h1 {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 60px;
	color: white;
	font-family: Verdana;
	text-align: center;
	background: black;
}

div {
	border: 3px solid black;
	padding: 5px;
	margin: 10px;
}

h2 {
	display: inline;
	font-size: 30px;
}

p {
	display: inline;
	font-size: 25px;
	color: red;
}

img {
	width: 720px;
	height: 540px;
	margin-right: 80px;
	border: 30px solid #ccc;
}
