<!DOCTYPE html>
<html lang="en" >
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name='viewport' content="width=device-width,initial-scale=1">
		<title>Sign Language Text Converter </title>
		<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
	</head>
	
	<body>
		<h1>Sign Language Detector</h1>
		<div id='main-feed'>
			<img id="sign-imgs" src="{{ url_for('static',filename='images/signs.png')}}" alt="Signs">
			<img id="feed" src="{{ url_for('video_feed') }}">
		</div>

		<div class='text-container'>
			<div class='text'>
				<h2>Character: </h2>
				<p id="character"></p>
			</div>

			<div class='text'>
				<h2>Word: </h2>
				<p id="word"></p>
			</div>
			
			<div class='text'>
				<h2>Sentence: </h2>
				<p id="sentence"></p>
			</div>
		</div>
		
		<script type='text/javascript'>
			var character = document.querySelector('#character');
			var word = document.querySelector('#word');
			var sentence = document.querySelector('#sentence');
			var position = 0;
			            
			var xhr = new XMLHttpRequest();
			xhr.open('GET', "{{ url_for('results_feed') }}");
			xhr.send();
			function handleNewdata() {
			    var messages = (xhr.responseText.split("\n")[position]).split(" ");
			    
			    character.innerText = messages[0];
			    word.innerText = messages[1];
			    sentence.innerText = messages[2];
			    console.log(messages);
			    position += 1;
			}

			var timer;
			timer = setInterval(function() {
			    handleNewdata();
			    if (xhr.readyState == XMLHttpRequest.DONE) {
			        clearInterval(timer);
			    }
			}, 1000);
		</script>
	</body>
</html>