<!DOCTYPE html>
<html lang="en" >
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name='viewport' content="width=device-width,initial-scale=1">
		<title>Sign Language Text Converter </title>
		<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
	</head>
	
	<body>
		<h1>Sign Language Detector</h1>
		<div id='main-feed'>
			<img id="sign-imgs" src="{{ url_for('static',filename='images/signs.png')}}" alt="Signs">
			<img id="feed" src="{{ url_for('video_feed') }}">
		</div>

		<div class='text-container'>
			<div class='text'>
				<h2>Character: </h2>
				<p id="character"></p>
			</div>

			<div class='text'>
				<h2>Word: </h2>
				<p id="word"></p>
			</div>
			
			<div class='text'>
				<h2>Sentence: </h2>
				<p id="sentence"></p>
			</div>
		</div>
		
		<script type='text/javascript' src="{{ url_for('static',filename='main.js') }}">
		</script>
	</body>
</html>